@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 24px 250px 100px 250px;
    margin: 0;
    gap: 100px;
}

.page-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #FAF8F9;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 14px;
}

a, .main-title-subtext {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.main-section {
    display: flex;
    justify-content: space-between;
}

.left-main-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    width: 500px;
}

.main-title {
    font-size: 48px;
    color: #FAF8F9;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: #FAF8F9;
    width: 100px;
    height: 28px;
    border-radius: 7px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    width: 550px;
    height: 200px;
    background-color: gray;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 100px 150px 100px;
}

.info-header-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.illustrations-container {
    display: flex;
    gap: 50px;
}

.illustration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 150px;
}

.illustration {
    border-style: solid;
    border-color: #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.illustration-subtext {
    font-size: 15px;
    font-weight: 80;
    text-align: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 150px 100px 100px 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-size: 28px;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 100px 150px 100px;
}

.call-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 60px 100px;
    height: 80px;
    width: 680px;
}

.call-text {
    color: #E5E7EB;
    font-weight: 80;
    font-size: 16px;
}

.call-text-header {
    font-weight: bold;
    font-size: 20px;
}

.call-box button {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.footer {
    display: flex;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    color: #E5E7EB;
    background-color: #1F2937;
}




